/* CSS Document */

.box{ text-align:center;margin-top: 3.28125rem;}
.box img{ width:6.109375rem !important;}
.box h2{ font-size:0.46875rem; color:#ffffff; background:#f98700;width: 40%;margin: auto;line-height: 2;border-radius: 1rem;margin-top: 0.859325rem;}







