/* CSS Document */

.error{width: 90%;margin: auto; margin-top:4.84375rem; text-align:center;}
.error b{ width:6.6875rem;}
.error h2{ font-size:0.78125rem; color:#333333;margin-top: 6%;border-bottom: 1px solid #e5e5e5;padding-bottom: 7%;}
.error p img{ width:0.640625rem !important; }
.error p{ font-size:0.5625rem; color:#3784dc; margin-top:1.09375rem;}




